<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IPL PowerPlay Predictor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button 
    {
    -webkit-appearance: none;
    margin: 0;
    }
    .bg_img
    {
      background-image: url('/static/img/stad_1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      
    }
    .head
    {
      color: white;
      width: 50%;
    }
    .lol
    {
      color:white;
    }
    .inl
    {
      display: inline-flex;
      width: 100%;
    }
    .team_logo
    {
      width: 30%;
      padding-top: 50%;
    }
  </style>
  <body class="bg_img">
    <div>
      <center>
      <h1 class="head">
        IPL PowerPlay Score Predictor
      </h1>
      </center>
    </div>
    <div>
      <center class="inl">
      <span class="col-lg-3 lol col-xs-2">
        <div>
          Batting Team
        </div>
        <div>
          <img id="team_1" class="team_logo" src="" alt="">
        </div>
      </span>

      <span class="container head col-lg-6 col-xs-8">
        <form action="/" method="POST">
        <label for="exampleFormControlInput1" class="form-label">Bowling Team</label>
        <select id="t1" required class="form-select" name="bowl" aria-label="Default select example">
          <option value="">Select team 1</option>
          <option value="Mumbai Indian">Mumbai Indian</option>
          <option value="Gujarat Titans">Gujarat Titans</option>
          <option value="Rajasthan Royals">Rajasthan Royals</option>
          <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
          <option value="Delhi Capitals">Delhi Capitals</option>
          <option value="Chennai Super Kings">Chennai Super Kings</option>
          <option value="Punjab Kings">Punjab Kings</option>
          <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
          <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
        </select>


        <label for="exampleFormControlInput1" class="form-label">Batting Team </label>
        <select id="t2" required class="form-select" name="bat" aria-label="Default select example">
          <option value="">Select team 2</option>
          <option value="Mumbai Indian">Mumbai Indian</option>
          <option value="Gujarat Titans">Gujarat Titans</option>
          <option value="Rajasthan Royals">Rajasthan Royals</option>
          <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
          <option value="Delhi Capitals">Delhi Capitals</option>
          <option value="Chennai Super Kings">Chennai Super Kings</option>
          <option value="Punjab Kings">Punjab Kings</option>
          <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
          <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
        </select>

        <label for="exampleFormControlInput1" class="form-label">Innings</label>
        <select required class="form-select" name="inning" aria-label="Default select example">
          <option value="">Select Inning</option>
          <option value="1">1st Inning</option>
          <option value="2">2nd Inning</option>
        </select>

        <label for="exampleFormControlInput1" class="form-label">Venue Played on: </label>
        <select required class="form-select" name="venue" aria-label="Default select example">
          <option value="">Venue</option>
          <option value="MA Chidambaram Stadium, Chepauk, Chennai">MA Chidambaram Stadium, Chepauk, Chennai</option>
          <option value="Arun Jaitley Stadium, Delhi">Arun Jaitley Stadium, Delhi</option>
          <option value="M Chinnaswamy Stadium">M Chinnaswamy Stadium</option>
          <option value="Narendra Modi Stadium, Ahmedabad">Narendra Modi Stadium, Ahmedabad</option>
          <option value="Wankhede Stadium, Mumbai">DWankhede Stadium, Mumbai</option>
          <option value="Dr DY Patil Sports Academy, Mumbai">Dr DY Patil Sports Academy, Mumbai</option>
          <option value="Punjab Cricket Association IS Bindra Stadium">Punjab Cricket Association IS Bindra Stadium</option>
          <option value="Sawai Mansingh Stadium">Sawai Mansingh Stadium,Jaipur</option>
          <option value="Rajiv Gandhi International Stadium, Uppal">Rajiv Gandhi International Stadium, Uppal</option>
        </select>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">No. Of Bowler</label>
          <input required type="number" name="numbboler" class="form-control" id="exampleFormControlInput1" placeholder="No. Of Bowler">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">No. Of Batsman came on field:</label>
          <input required type="number" name="wic" class="form-control" id="exampleFormControlInput1" placeholder="No. Of Wickets">
        </div>
        
        <center><button class="btn btn-primary" type="submit">Submit</button></center>
        </form>
        <br>
        <center>
          <h1>{{result}}</h1>
        </center>
      </span>
      <span class="col-lg-3 lol col-xs-2">
        <div>
          Bowling Team
        </div>
        <div>
          <img id="team_2" class="team_logo" src="" alt="">
        </div>
      </span>
      </center>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
  <script>
    const arr=["../static/img/rcb.png","../static/img/kkr.png","../static/img/mi.png","../static/img/csk.png","../static/img/srh.png","../static/img/ki.png","../static/img/rr.png","../static/img/dc.png","../static/img/gt.png",""]
    document.getElementById("t1").addEventListener("change",()=>
    {
      let e=document.getElementById("t1").value;
      if(e=="Royal Challengers Bangalore")
      {
        document.getElementById("team_1").setAttribute("src",arr[0]);
      }
      else if(e=="Kolkata Knight Riders")
      {
        document.getElementById("team_1").setAttribute("src",arr[1]);
      }
      else if(e=="Mumbai Indian")
      {
        document.getElementById("team_1").setAttribute("src",arr[2]);
      }
      else if(e=="Chennai Super Kings")
      {
        document.getElementById("team_1").setAttribute("src",arr[3]);
      }
      else if(e=="Sunrisers Hyderabad")
      {
        document.getElementById("team_1").setAttribute("src",arr[4]);
      }
      else if(e=="Punjab Kings")
      {
        document.getElementById("team_1").setAttribute("src",arr[5]);
      }
      else if(e=="Rajasthan Royals")
      {
        document.getElementById("team_1").setAttribute("src",arr[6]);
      }
      else if(e=="Delhi Capitals")
      {
        document.getElementById("team_1").setAttribute("src",arr[7]);
      }
      else if(e=="Gujarat Titans")
      {
        document.getElementById("team_1").setAttribute("src",arr[8]);
      }
      else
      {
        document.getElementById("team_1").setAttribute("src",arr[9]);
      }



    })

    document.getElementById("t2").addEventListener("change",()=>
    {
      let e=document.getElementById("t2").value;
      if(e=="Royal Challengers Bangalore")
      {
        document.getElementById("team_2").setAttribute("src",arr[0]);
      }
      else if(e=="Kolkata Knight Riders")
      {
        document.getElementById("team_2").setAttribute("src",arr[1]);
      }
      else if(e=="Mumbai Indian")
      {
        document.getElementById("team_2").setAttribute("src",arr[2]);
      }
      else if(e=="Chennai Super Kings")
      {
        document.getElementById("team_2").setAttribute("src",arr[3]);
      }
      else if(e=="Sunrisers Hyderabad")
      {
        document.getElementById("team_2").setAttribute("src",arr[4]);
      }
      else if(e=="Punjab Kings")
      {
        document.getElementById("team_2").setAttribute("src",arr[5]);
      }
      else if(e=="Rajasthan Royals")
      {
        document.getElementById("team_2").setAttribute("src",arr[6]);
      }
      else if(e=="Delhi Capitals")
      {
        document.getElementById("team_2").setAttribute("src",arr[7]);
      }
      else if(e=="Gujarat Titans")
      {
        document.getElementById("team_2").setAttribute("src",arr[8]);
      }
      else
      {
        document.getElementById("team_2").setAttribute("src",arr[9]);
      }



    })
  </script>
</html>
